# Elixir
/_build
/deps
/cover/
/doc/
/.fetch
*.ez
*.beam
 erl_crash.dump
/tmp/
paraminimal-*.tar

# Node (for assets)
/assets/node_modules
npm-debug.log

# Phoenix assets
/priv/static/assets/
/priv/static/cache_manifest.json

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
